<div class="ui container">
  <h1 class="ui center blue aligned icon header">
    <div class="fa"></div><br>
    Say something....
  </h1>
</div>

<div class="ui container">

  <div class="ui grid">
      <div class="twelve wide column">
        <div class="ui fluid raised card fixed-height">
          <div class="content">
            <div class="ui feed">
              <div class="event">
                <div class="content">
                  <div class="summary">
                    <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
                  </div>
                </div>
              </div>              
            </div>
          </div>
          <div class="extra content">
            <div class="ui fluid action input">
              <input type="text" placeholder="Send a message...">
              <button class="ui icon button">
                <i class="blue users icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui fluid raised card fixed-height">
          <div class="content">
            <div class="ui grey fluid inverted vertical menu">
              <a class="item">Home</a>
              <a class="item">Messages</a>
              <a class="item">Friends</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>