

.fa {
  background-image: url('../../assets/images/message_me.png');
  color: rgb(72, 168, 237);
  
  box-sizing: content-box;
  line-height: 200px;
  text-align: center;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-color: rgb(256, 256, 256);
}

.fixed-height {
  height: 450px;
}

#messages {
  height: 200px;
  overflow: auto;
}

.input {
  button {
    display: none;
  }
}