<div class="ui grey inverted large menu">
  <%= link_to 'Chatroom', root_path, class: "item" %>
  <a class="item">
    Messages
  </a>  
   <div class="right menu">
     <div class="ui simple dropdown item">
      Account
      <i class="dropdown icon"></i>
      <div class="menu">
        <%= link_to 'Login', login_path, class: "item" %>
        
        <div class="item">Choice 2</div>
        <div class="item">Choice 3</div>
      </div>
    </div>
   </div>
</div>